<h1>Stock Trade Info</h1>
<div style="width: 1300px; margin: 10px;padding-left: 10px">
<table id='sctable' title="stocklist" class="tbl1 tablrsorter scroll stocktable" cellspacing="1" width='1300px'>
 <thead>
  <tr>
    <th width='150px'>Company Name</th>
    <th width='60px'>Symbol</th>
    <th width='60px'>Sector</th>
    <th width='70px'>Last Trade</th>
    <th>PE</th>
    <th>EPS</th>
    <th>PEG Ratio</th>
    <th>Book Value</th>
    <th>Price Per Book</th>
    <th width='120px'>52 Weeks Low - High</th>
    <th>Dividend Yield</th>
    <th>Dividend Per Share</th>
    <th>Moving Avg 50 Days</th>
    <th>Moving Avg 200 Days</th>
    <th>EBITDA</th>
  </tr>
 </thead>
 <tfoot>
  <tr>
    <th width='150px'>Company Name</th>
    <th width='60px'>Symbol</th>
    <th width='60px'>Sector</th>
    <th width='70px'>Last Trade</th>
    <th>PE</th>
    <th>EPS</th>
    <th>PEG Ratio</th>
    <th>Book Value</th>
    <th>Price Per Book</th>
    <th width='120px'>52 Weeks Low - High</th>
    <th>Dividend Yield</th>
    <th>Dividend Per Share</th>
    <th>Moving Avg 50 Days</th>
    <th>Moving Avg 200 Days</th>
    <th>EBITDA</th>
  </tr>
 </tfoot>
<% extstocks = Yahoolist.allstocks() %>
<% sectors = Yahoolist.sectors %>
<% extstocks.each do |symbol, qt| %>
  <tr>
  	<td align = 'right'><%= qt.name %></td>
    <td align = 'center'><%= link_to("#{symbol}","http://www.google.com/finance?q=#{symbol}", {:target => "_blank"}) %></td>
    <td align = 'center'><%= sectors[symbol] %></td>
    <td align = 'right'><%= qt.lastTrade %></td>
    <td><%= qt.peRatio %></td>
    <td><%= qt.earningsPerShare %></td>
    <td><%= qt.pegRatio %></td>
    <td><%= qt.bookValue %></td>
    <td><%= qt.pricePerBook %></td>
    <td><%= qt.weeks52Range %></td>
    <td><%= qt.dividendYield %></td>
    <td><%= qt.dividendPerShare %></td>
    <td><%= qt.movingAve50days %></td>
    <td><%= qt.movingAve200days %></td>
    <td><%= qt.ebitda %></td>
  </tr>
<% end %>
</table>
</div>
