<h1>Stock Listing</h1>
<table id='sctable' title="stocklist" class="tablesorter" cellspacing="1" width='1400'>
 <thead>
  <tr>
    <th width='200'>Company Name</th>
    <th width='80'>Symbol</th>
    <th width='80'>Sector</th>
    <th width='80'>Last Trade</th>
    <th>PE</th>
    <th>EPS</th>
    <th>PEG Ratio</th>
    <th>Book Value</th>
    <th>Price Per Book</th>
    <th>52 Weeks Low - High</th>
    <th>Dividend Yield</th>
    <th>Dividend Per Share</th>
    <th>Moving Avg 50 Days</th>
    <th>Moving Avg 200 Days</th>
    <th>EBITDA</th>
  </tr>
 </thead>

<% extstocks = Yahoolist.allstocks() %>
<% sectors = Yahoolist.sectors %>
<% extstocks.each do |symbol, qt| %>
  <tr>
  	<td align = 'right'><%= qt.name %></td>
    <td align = 'center'><%= symbol %></td>
    <td align = 'center'><%= sectors[symbol] %></td>
    <td align = 'right'><%= qt.lastTrade %></td>
    <td><%= qt.peRatio %></td>
    <td><%= qt.earningsPerShare %></td>
    <td><%= qt.pegRatio %></td>
    <td><%= qt.bookValue %></td>
    <td><%= qt.pricePerBook %></td>
    <td><%= qt.weeks52Range %></td>
    <td><%= qt.dividendYield %></td>
    <td><%= qt.dividendPerShare %></td>
    <td><%= qt.movingAve50days %></td>
    <td><%= qt.movingAve200days %></td>
    <td><%= qt.ebitda %></td>
  </tr>
<% end %>
</table>
   
