<h1>Stock Listing</h1>

<table class="tablesorter" border=1 >
  <tr>
    <th width='200'><%= link_to "Company Name", :sort => "name" %></th>
    <th width='80'><%= link_to "Symbol", :sort => "symbol" %></th>
    <th width='80'><%= link_to "Sector", :sort => "sector" %></th>
    <th width='80'><%= link_to "Last Trade", :sort => "lastTrade" %></th>
    <th><%= link_to "PE", :sort => "pe" %></th>
    <th><%= link_to "EPS", :sort => "eps" %></th>
    <th><%= link_to "PEG Ratio", :sort => "pegratio" %></th>
    <th><%= link_to "Book Value", :sort => "bookValue" %></th>
    <th><%= link_to "Price Per Book", :sort => "pricePerBook" %></th>
    <th>52 Weeks Low - High</th>
    <th><%= link_to "Dividend Yield", :sort => "dividendYield" %></th>
    <th><%= link_to "Dividend Per Share", :sort => "diviendedPerShare" %></th>
    <th><%= link_to "Moving Avg 50 Days", :sort => "movingAve50days" %></th>
    <th><%= link_to "Moving Avg 200 Days", :sort => "movingAve200days" %></th>
    <th>EBITDA</th>
  </tr>

<% extstocks = Yahoolist.extstocks(params[:sort]) %>
<% sectors = Yahoolist.sectors %>
<% extstocks.each do |symbol, qt| %>
  <tr>
  	<td align = 'right'><%= qt.name %></td>
    <td align = 'center'><%= symbol %></td>
    <td align = 'center'><%= sectors[symbol] %></td>
    <td align = 'right'><%= qt.lastTrade %></td>
    <td><%= qt.peRatio %></td>
    <td><%= qt.earningsPerShare %></td>
    <td><%= qt.pegRatio %></td>
    <td><%= qt.bookValue %></td>
    <td><%= qt.pricePerBook %></td>
    <td><%= qt.weeks52Range %></td>
    <td><%= qt.dividendYield %></td>
    <td><%= qt.dividendPerShare %></td>
    <td><%= qt.movingAve50days %></td>
    <td><%= qt.movingAve200days %></td>
    <td><%= qt.ebitda %></td>
  </tr>
<% end %>
</table>
    
</p>
<br />
