<h1>Stock Enlisted</h1>
<div style="width: 1200px; margin: 10px auto; ">
<%= form_tag stocklists_path, :method => 'get' do %>
Exchange<%= select_tag("stockexchange", options_for_select(Stocklist.exchangelist.map {|s| s.stockexchange}, params[:stockexchange])) %>
Sector<%= select_tag("sector", options_for_select(Stocklist.sectorlist.map {|s| s.sector}, params[:sector])) %>
Industry<%= select_tag("industry", options_for_select(Stocklist.industrylist.map {|s| s.industry}, params[:industry])) %>
<%= submit_tag "Go", :name => nil %>
<% end %>
</div>
<div classz="scroll" style="width: 1200px; margin: 10px auto;">
<% 
 msg = "" 
 if (params[:stockexchange]).nil?
	msg = "Select Stock Exchange, Sector and Industry"
 elsif (params[:sector]).nil?
 	msg = "Select Sector and Industry"
 elsif (params[:industry]).nil?
 	msg = "Select Industry"
 else
 	cond_industry = (params[:industry] != "__ALL__") ? "and industry='#{params[:industry]}'" : ""
  	@localstocklist = Stocklist.where("stockexchange='#{params[:stockexchange]}' and sector='#{params[:sector]}' #{cond_industry}").page(params[:page]).per(50)
 end
%>
<% if @localstocklist %>
<%= paginate @localstocklist %>
<% end %>
<table id='sctable' title='stocklist' class="tablesorter stocktable tbl1 scroll" cellspacing="1" width="1100px">
 <thead>
  <tr>
    <th width="220">Name</th>
    <th width="80">Symbol</th>
    <th width="80">Sector</th>
    <th width="80">Industry</th>
    <th width="80">Market Cap</th>
    <th width="80">IPO Year</th>
    <th width="80">StockExch</th>
    <th width="120">Actions</th>
  </tr>
 </thead>
 <tfoot>
  <tr>
    <th width="220">Name</th>
    <th width="80">Symbol</th>
    <th width="80">Sector</th>
    <th width="80">Industry</th>
    <th width="80">Market Cap</th>
    <th width="80">IPO Year</th>
    <th width="80">StockExch</th>
    <th width="120">Actions</th>
  </tr>
 </tfoot>
 <tbody>
<% 
 if (msg.blank?)
  @localstocklist.each do |stocklist| %>
  <tr>
    <td><%= link_to stocklist.name, stocklist%></td>
    <td><%= link_to("#{stocklist.symbol}","http://www.google.com/finance?q=#{stocklist.symbol}", {:target => "_blank"}) %></a></td>
    <td><%= stocklist.sector %></td>
    <td><%= stocklist.industry %></td>
    <td><%= stocklist.marketcap %></td>
    <td><%= stocklist.ipoyear %></td>
    <td><%= stocklist.stockexchange %></td>
    <td align='center'><%= link_to image_tag('edit.jpg', :alt => 'Edit'), edit_stocklist_path(stocklist) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to image_tag('delete.png', :alt => 'Delete'), stocklist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<% else %>
   <tr><td colspan=8><%= msg %></td></tr>
<% end %>
 </tbody>
</table>
<% if @localstocklist %>
<%= paginate @localstocklist %>
<% end %>
</div>
<br />

<%= link_to 'New Stocklist', new_stocklist_path %>

