<h1>Stock Enlisted</h1>
<div style="width: 800px; margin: 10px auto; ">
<table id='sctable' title='stocklist' class="tablesorter stocktable tbl1 scroll" cellspacing="1" width="600px">
 <thead>
  <tr>
    <th width="220">Name</th>
    <th width="80">Code</th>
    <th width="80">Sector</th>
    <th width="120">Actions</th>
  </tr>
 </thead>

 <tbody>
<% @stocklists.each do |stocklist| %>
  <tr>
    <td><%= link_to stocklist.name, stocklist%></td>
    <td><a class='iframe' href="http://www.yahoo.com"><%= stocklist.code %></a></td>
    <td><%= stocklist.sector %></td>
    <td align='center'><%= link_to image_tag('edit.jpg', :alt => 'Edit'), edit_stocklist_path(stocklist) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to image_tag('delete.png', :alt => 'Delete'), stocklist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
 </tbody>
</table>

</div>
<br />

<%= link_to 'New Stocklist', new_stocklist_path %>

