<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stocklist.name %>
</p>

<p>
  <b>Code:</b>
  <%= @stocklist.code %>
</p>

<p>
  <b>Sector:</b>
  <%= @stocklist.sector %>
</p>

<%= link_to 'Edit', edit_stocklist_path(@stocklist) %> |
<%= link_to 'Back', stocklists_path %>
<p><%= link_to 'New Stocklist', new_stocklist_path %></p>
