<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stocklist.name %>
</p>

<p>
  <b>Code:</b>
  <%= @stocklist.symbol %>
</p>

<p>
  <b>Sector:</b>
  <%= @stocklist.sector %>
</p>

<p>
  <b>Industry:</b>
  <%= @stocklist.industry %>
</p>

<p>
  <b>Market Cap:</b>
  <%= @stocklist.marketcap %>
</p>

<p>
  <b>IPO Year:</b>
  <%= @stocklist.ipoyear %>
</p>

<%= link_to 'Edit', edit_stocklist_path(@stocklist) %> |
<%= link_to 'Back', stocklists_path %>
<p><%= link_to 'New Stocklist', new_stocklist_path %></p>
